.good-list-item{
    display: flex;
    padding: 10px;
    border: 1px solid #ced4da;
    margin: 10px 0 10px 0;
    
}

.good-list-item .good-cover {
    flex-shrink: 0;
    width: 120px;
    margin-right: 30px;
}
.good-list-item .good-cover img {
    max-width: 100%;
}
.good-list-item .good-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;
}
.good-list-item .good-details .good-title{
    font-size: 1.2rem;
}
.good-list-item .good-details .good-price{
    font-size: 1.4rem;
}